@font-face {
  font-family: 'Lato-Black';
  src: url('../assets/fonts/Lato-Black.eot'),
  url('../assets/fonts/Lato-Black.woff') format('woff'),
  url('../assets/fonts/Lato-Black.ttf') format('truetype'),
  url('../assets/fonts/Lato-Black.svg#webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Light';
  src: url('../assets/fonts/Lato-Light.eot'),
  url('../assets/fonts/Lato-Light.woff') format('woff'),
  url('../assets/fonts/Lato-Light.ttf') format('truetype'),
  url('../assets/fonts/Lato-Light.svg#webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Regular';
  src: url('../assets/fonts/Lato-Regular.eot'),
  url('../assets/fonts/Lato-Regular.woff') format('woff'),
  url('../assets/fonts/Lato-Regular.ttf') format('truetype'),
  url('../assets/fonts/Lato-Regular.svg#webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('../assets/fonts/MyriadPro-Regular.eot'),
  url('../assets/fonts/MyriadPro-Regular.woff') format('woff'),
  url('../assets/fonts/MyriadPro-Regular.ttf') format('truetype'),
  url('../assets/fonts/MyriadPro-Regular.svg#webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}


