@import "fonts.scss";
@import "reset.scss";
@import "header.scss";
@import "about.scss";
@import "portfolio.scss";
@import "partners.scss";
@import "contacts.scss";
@import "footer.scss";

body {
  font-family: sans-serif;
}

//TITLES-common-styles////////////////////////////////////////////////////////

.title {
  font-family: 'Lato-Regular';
  letter-spacing: 5.43px;
  font-size: 34px;
  text-transform: uppercase;
  text-align: center;
}

.title_color_white {
  color: #ffffff;
}

.title_color_black {
  color: #000000;
  position: relative;
}

.title_color_black::after {
  content: '';
  display: block;
  position: absolute;
  width: 81px;
  height: 1px;
  background-color: #000000;
  top: 82px;
  left: 515px;
}

.title_weight_xl {
  font-weight: 900;
}

//BUTTONS-common-styles////////////////////////////////////////////////////////

.button-wrap {
  max-width: 220px;
  margin: 0 auto;
}

.button-wrap_after {
  position: relative;
}

.button-wrap_after::after {
  content: '';
  display: block;
  width: 17px;
  height: 10px;
  background: url("../assets/img/arrow-down.png") no-repeat center / contain;
  position: absolute;
  top: 150px;
  left: 98px;
}

.read-more {
  cursor: pointer;
  padding: 11px 54px;
  background: none;
  font-family: 'Lato-Regular';
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.67px;
  margin: 0 auto;
  transition: ease .25s;
  border: none;
}

.read-more_btn_white:hover {
  background: #fff;
  color: #464646;
}

.read-more_btn_white {
  color: #ffffff;
  border: 1px solid #ffffff;
}

.read-more_btn_black {
  color: #000000;
  border: 1px solid #000000;
}

.read-more_btn_black:hover {
  background: #3c3c3c;
  color: #fff;
}

//NAVIGATION-common-styles////////////////////////////////////////////////////////
.nav {
  max-width: 450px;
  margin: 0 auto;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-menu__item {

}

.nav-menu__link {
  text-decoration: none;
}

.nav-menu__link_dark {
  color: #3c3c3c;
}

.nav-menu__link_light {
  color: #a4a4a4;
}

.nav-menu__link_big {
  text-transform: uppercase;
  font-family: "Lato - Bold";
  font-size: 15px;
  font-weight: 700;
}

.nav-menu__link_sm {
  font-family: 'Lato-Regular';
  font-size: 14px;
  font-weight: 400;
}

.nav-menu__link_big:hover,
.nav-menu__link_sm:hover
{
  color: #ada074;
  text-decoration: none;
}


//TEXT-common-styles////////////////////////////////////////////////////////

.text {
  color: #868585;
  font-family: 'Lato-Regular';
  font-size: 14px;
  font-weight: 300;
  line-height: 25.89px;
  text-align: center;
  max-width: 690px;
}

.text_left {
  text-align: left;
}

//PHOTO-common-styles////////////////////////////////////////////////////////

.photo-card {
  flex-basis: 50%;
  margin-bottom: 15px;
}