.portfolio {
  padding: 110px 0 65px;
  background: #f3f3f3;

  .portfolio__nav {
    max-width: 300px;
    margin: 90px auto;
  }

  .portfolio__cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 65px;
  }

}




